html {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  height: 200vh;
  background: #000;
  color: #fff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  animation: loading 5s ease-in-out forwards;
}

.container {
  z-index: 1;
  position: relative;
  height: 200vh;
  width: 100%;
}

.block {
  width: 100%;
}

#block1 {
  height: 200vh;
  font-size: 6vw;
}

#block2,
#block3,
#block4,
#block5 {
  height: 145vh;
  font-size: 4vw;
  /* margin-top: -20vh; */
}

.content {
  text-align: center;
  position: sticky;
  top: 50%;
  transform: translateY(calc(-50%));
}

.block p {
  margin-bottom: 24px;
  margin-top: 0;
}

.loading span {
  padding: 0 4px;
  color: transparent;
  animation: blur 2.1s infinite;
  -webkit-animation: blur 2.1s infinite;
}

.loading span:nth-child(1) {
  animation-delay: 0.15s;
  -webkit-animation-delay: 0.15s;
}

.loading span:nth-child(2) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

.loading span:nth-child(3) {
  animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
}

.loading span:nth-child(4) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

.loading span:nth-child(5) {
  animation-delay: .75s;
  -webkit-animation-delay: .75s;
}

.loading span:nth-child(6) {
  animation-delay: .9s;
  -webkit-animation-delay: .9s;
}

.loading span:nth-child(7) {
  animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
}

@keyframes blur {
  0% {
    text-shadow: 0 0 10px #fff;
    font-size: 90%
  }

  50% {
    text-shadow: 0 0 0px #fff;
    font-size: 100%
  }

  100% {
    text-shadow: 0 0 10px #fff;
    font-size: 90%
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}